.check-box {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-background-color: #1D1D1D;
    -fx-padding: 24px;
    -fx-background-radius: 4px;
}

.check-box .box {
    -fx-background-color: transparent;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-border-color: white;
}

.check-box:hover .box {
    -fx-border-color: #65AFFF;
}

.check-box:selected .mark {
    -fx-background-color: #000000;
}

.check-box:selected .box {
    -fx-background-color: #65AFFF;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-color: transparent;
}
