.scroll-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-border-color: transparent;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-background-radius: 8;
    -fx-border-radius:8 ;
}

.scroll-pane:hover .scroll-bar,
.scroll-pane .scroll-bar:vertical:pressed,
.scroll-pane .scroll-bar:horizontal:pressed {
    -fx-opacity: 1;
}

.scroll-pane .scroll-bar:vertical {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 0;
    -fx-pref-width: 12;
}

.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
    -fx-opacity: 0;
    -fx-padding: 0;
    -fx-pref-height: 12;
}

.scroll-pane:hover .scroll-bar:vertical {
    -fx-opacity: 1;
}

.scroll-pane:hover .scroll-bar:horizontal {
    -fx-opacity: 1;
}

.scroll-pane .increment-arrow,
.scroll-pane .decrement-arrow {
    -fx-shape: null;
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: #FFFFFF40;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .thumb:hover,
.scroll-bar .thumb:pressed {
    -fx-background-color: #FFFFFF80;
}

.scroll-bar .track {
    -fx-background-color: transparent;
}
