.text-field {
    -fx-background-color: transparent;
    -fx-border-radius: 4px;

    -fx-text-fill: #FFFFFF;
    -fx-font-face: "Segoe UI";
    -fx-font-size: 14px;

    -fx-padding: 0px;
    -fx-cursor: text;
}