.slider .track{
    -fx-background-color: #444444;
    -fx-padding: 1.5px;
}

.slider .track:horizontal {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.slider .thumb {
    -fx-background-color: #FFFFFF;
    -fx-opacity: 0;
    -fx-cursor: hand;
}

.slider:hover .thumb {
    -fx-opacity: 1;
}

