.combo-box {
    -fx-min-width: 296;
    -fx-background-color: transparent;
    -fx-border-color: #737273;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
    -fx-padding: 7px;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI";
}

.combo-box:focused {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
}

.combo-box:hover {
    -fx-border-color: #FFFFFF;
}

.combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-family: "Segoe UI";
}

.combo-box-popup .list-view {
    -fx-background-color: #292929;
    -fx-background-radius: 8;
    -fx-border-color: #B6B6B6;
    -fx-border-radius: 8;
    -fx-border-width: 0.5;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-opacity: 0;
}

.combo-box .list-cell:hover {
    -fx-background-color: #FFFFFFA0;
    -fx-background-radius: 8;
}

.combo-box.error {
    -fx-border-color: #EB5157;
}

.combo-box .arrow-button {
    -fx-background-color: transparent;
}

.combo-box .arrow-button .arrow {
    -fx-background-color: #737273;
}

.combo-box:hover .arrow-button .arrow {
    -fx-background-color: #FFFFFF;
}

.combo-box:showing .arrow-button .arrow {
    -fx-background-color: #FFFFFF;
}
