.text-field {
    -fx-background-color: transparent;
    -fx-background-radius: 4px;

    -fx-border-color: #737273;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;

    -fx-text-fill: #FFFFFF;
    -fx-font-face: "Segoe UI";
    -fx-font-size: 14px;

    -fx-padding: 12px;

    -fx-cursor: text;
}

.text-field:hover {
    -fx-border-color: #FFFFFF;
}

.text-field:focused {
    -fx-border-color: #FFFFFF;
    -fx-border-width: 2px;
}

.text-field.error {
    -fx-border-color: #EB5157;
}